# IDE project files
.idea

manuals/

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.swp
*.swo
*.c.swp
*.c.swo
*.DS_Store
*.*~
